h1{
    font-family: sans-serif;
}
p{
    font-weight: 600;
    font-size: 16px;
    font-size: 2em;
}

body{
font-size: 16px;
background-color: rgb(78, 107, 238);
}

#amarelo{
font-style: italic;
line-height: 1cm;
text-align: center;
text-decoration: overline;
color: yellow;

}

#marrom{
font-style: italic;
line-height: 1cm;
text-align: end;
text-decoration: oldlace; 
color: maroon;

}

#vermelho{
font-style: oblique;
color: red;

}
