.super-mario {
    width: 200px;
    position: absolute;
    top: 80px;
    left: 10px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 350px;
    right: 880px;
    
  }
  
  .baloon {
    position: absolute;
    top: 20px;
    left: 350px;
    z-index: 1;

  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 60px;
    left: 380px;
    z-index: 2;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    top: 150px;
    left: 600px;
  }